
    <form [formGroup]="WorkForm" (ngSubmit)="onSubmit()" >
      <fieldset>
        @if(WorkForm.invalid && WorkForm.dirty){
          <div class="invalid">
           
            @if (WorkForm.get('order')?.invalid){
              <p>Debe seleccionar una fecha de confección.</p>
            }
            @if (WorkForm.get('hours')?.invalid){
              <p>Debe indicar las horas estimadas de trabajo.</p>
            }
            @if (WorkForm.get('deadLine')?.invalid){
              <p>Debe seleccionar una fecha de finalización.</p>
            }
            @if (WorkForm.get('notes')?.invalid){
              <p>Debe redactar una breve descripción del trabajo.</p>
            }
            @if (WorkForm.get('estado')?.invalid){
              <p>Debe seleccionar un estado.</p>
            }
          </div>
        }
        <legend class="List-title"> {{ isEdit ? 'Actualizar un trabajo' : 'Crear un trabajo' }}</legend>
        <label for="hours">Horas estimadas:</label>
        <input type="number" name="hours" id="hours" formControlName="hours"> 
        <label for="deadLine">Fecha limite:</label>
        <input type="date" name="deadLine" id="deadLine" formControlName="deadLine" >
        <label for="notes">Notas:</label>
        <textarea name="notes" id="notes" formControlName="notes"></textarea>
        <label for="cost">Estado:</label>
        <select formControlName="estado">
          @for (option of estados; track $index) {
            <option [value]="option">{{option | uppercase}}</option>
          }
        </select>
      </fieldset>
      <fieldset class="Botones">
        <button type="reset" (click)="resetForm($event)">Limpiar</button>
      
        <button type="submit" [disabled]="!WorkForm.valid" [class.disactive]="!WorkForm.valid">
          @if (isEdit) {
            Actualizar
          }@else {
            Guardar
          }
        </button>
      </fieldset>     
    </form>

  