<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Card">
    <div class="Card-Details">        
        <p>{{Budget?.Status}}</p>
        <p>Precio: {{Budget?.cost | currency}}</p>
        <p>Fecha elaboración: {{Budget?.createdDate| date:'dd/MM/yyyy'}}</p>
    </div>
    <div class="Card-Options">
        <app-button-card [icon]="botones[0].icon" (click)="select()"/>
        <app-button-card [icon]="botones[1].icon" (click)="edit()"/>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()"/>
    </div>
</div>

