@import url("https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

:root {
    --cerezo: #753710;
    --abedul: #e1bf92;
    --arce: #f9d596;
    --nogal: #63493c;
    --blanquecino: #faf9f6;
    --gris: #d9d9d9;
    --negro: #160a03;
    --titulo: "Merriweather Sans", sans-serif;
    --dato: "Inter Tight", sans-serif;
    --otro: "Teachers", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--nogal);
}
::-webkit-scrollbar-thumb{
    background: var(--arce);
    border-radius: 1px;
}

main {
    display: flex;
    flex-direction: column;
}

section {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
}

article {
    display: flex;
    flex-direction: column;
}

/*Botones*/

button {
  border: none;
}

.Botones button,
.Boton1 {
    background-color: var(--cerezo);
    color: var(--blanquecino);
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    font-family: var(--otro);
}

.Boton1 {
    margin: 5px 0;
    width: 100%;
}

.Botones button:hover,
.Boton1:hover {
    box-shadow: 5px 5px 5px var(--nogal);
}

.Botones button:active,
.Boton1:active {
    box-shadow: inset 2px 2px 2px var(--blanquecino);
}




/*Responsive*/

@media only screen and (max-width: 950px) {
    main section, article{
        flex-direction: column;
        align-items: center;
    }

    .Details{
        min-width: 300px;
    }


}

@media only screen and (max-width: 480px) {

    .Card, .Componente{
        padding: 5px;
        flex-direction: column;
    }


}

@media (orientation: landscape) {

    .List, form, .Componente {
        min-width: 360px;
        border-radius: 10px;
    }
  }
