<div>
    <form [formGroup]="MaterialForm" (ngSubmit)="onSubmit()" >
      <fieldset>
        <legend class="List-title"> {{ isEdit ? 'Actualizar un material' : 'Crear un material' }}</legend>
        @if(MaterialForm.invalid && MaterialForm.dirty){
          <div class="invalid">
            @if (MaterialForm.get('name')?.invalid){
              <p>Debe escribir el nombre.</p>
            }
          </div>
        }
        @if (!isEdit) {
          <label for="supplier">Proveedor:</label>
          <input type="text" id="supplier" (click)="openSupplierForm()" placeholder="Seleccionar proveedor" readonly formControlName="supplier">
          <input type="hidden" [value]="" name="idSupplier" formControlName="idSupplier"/>
        }
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" formControlName="name">
        <label for="description">Descripción:</label>
        <textarea name="description" id="description" formControlName="description"></textarea>
        <label for="brand">Marca:</label>
        <input type="text" name="brand" id="brand" formControlName="brand">
        <label for="color">Color:</label>
        <input type="text" name="color" id="color" formControlName="color">
        <label for="subCategory">Sub rubro</label>
        <select name="subCategory" id="subCategory" formControlName="subCategory">
          @for (item of subCategories; track $index) {
            <option value="{{item.idCategoryMaterial}}"  >{{item.name}}</option>
          }
        </select>
         
      </fieldset>
      <fieldset class="Botones">
        <button type="reset" (click)="resetForm($event)">Limpiar</button>
  
        <button type="submit" [disabled]="!MaterialForm.valid" [class.disactive]="!MaterialForm.valid">
          @if (isEdit) {
            Actualizar
          }@else {
            Guardar
          }
        </button>
      </fieldset>
    </form>
  
  </div>
  
  
  