<div class="Card">
    <div class="Card-Detailes">
        <p>Fecha: {{Invoice?.date | date:'dd/MM/yyyy'}}</p>
        <p>
          @if (Invoice?.isPaid){
            Pagada
          }@else{
            Con deuda
          }</p>
    </div>
    <div class="Card-Options">
        <app-button-card [icon]="botones[0].icon" (click)="view()" mat-raised-button matTooltip="Ver detalle de la factura."></app-button-card>
        <app-button-card [icon]="botones[1].icon" (click)="edit()" mat-raised-button matTooltip="Editar el factura."></app-button-card>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()" mat-raised-button matTooltip="Borrar la factura."></app-button-card>
    </div>
</div>
