section{
  justify-content: center;
}

/* Estilos para los bloques */
.block {
    background-color: var(--abedul);
    font-family: var(--titulo);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

