<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>proyecto realizado en las practicas profesionalizantes 2024</h3>
        <h3>profesor Mauro gomez</h3>

        <h3>integrantes equipo de trabajo</h3>
        <h4>Lider tecnico</h4>
        <p>Valentin Ale</p>

        <h4>Backend</h4>
        <p>Francisco Galea</p>
        <p>Karen Celes</p>
        <p>Melina Alonso</p>

        <h4>Diseñador</h4>
        <p>Juan Bravo Ale</p>

        <h4>Frontend</h4>
        <p>Felix Agustin Bengoa</p>
    </div>
</body>
</html>