<section>
  <article>
      <div class="block">
          <h2>Proyecto realizado en las prácticas profesionalizantes 2024</h2>
          <p>Profesor: Mauro Gomez</p>
      </div>

      <div class="block">
          <h3>Integrantes equipo de trabajo 2024</h3>
          <p><strong>Líder técnico:</strong> Valentín Ale</p>
          <p><strong>Backend:</strong> Francisco Galea, Karen Celes, Melina Alonso</p>
          <p><strong>Diseñador:</strong> Juan Bravo Ale</p>
          <p><strong>Frontend:</strong> Félix Agustín Bengoa</p>
      </div>
  </article>
</section>
