<div class="List">
    <h3 class="List-title">Listado de costos</h3>
    
      @for (cost of fixedCosts | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {
        <app-cost-card 
        [fixedCost]="cost"
        (isEdit)="handleEditFixedCost($event)"
        (isDeleted)="handleDeleteFixedCost($event)"
        />
      }@empty {
        <app-text-card [message]="'No hay costos que mostrar.'"/>
      }
    
    
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="pageChange($event)"
    />
  </div>
  