<div class="List">
    <h3 class="List-title">Listado de costos</h3>
    
    <!--
    <app-cost-search
      (results)="handleSearch($event)"
      (sortedResults)="handleSearch($event)"
    />-->
  
    <!--
      @for (cost of this.searchedFixedCost | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {
        <app-cost-card 
        (action)="handleAction($event)"
        (isView)="handleViewClient($event)"
        (isEdit)="handleEditClient($event)"
        (isDeleted)="handleDeleteClient($event)"
        />
      }
    
    
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="pageChange($event)"
    />
    @if(options){
    <button class="Boton1" (click)="addClientHandler()">Agregar cliente</button>
    }-->
  </div>
  