<div class="List">
  <h3 class="List-title">Listado de materiales</h3>
 
  <div>
    @for (material of materials | paginate:{ itemsPerPage: items,
    currentPage: page }; track material.idMaterial; let idx = $index) {
    <app-material-card
      [Material]="material"
      (isClick)="seleccionar($event)"
      (isEdit)="editar($event)"
      (isDeleted)="eliminar($event)"
    />
    }@empty {
      <app-text-card [message]="'No hay materiales que mostrar.'"/>
    }
  </div>

  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="pageChange($event)"
  />
  
</div>
