<div class="List">
  <h3 class="List-title">Listado de clientes</h3>
  <app-client-search
    (results)="handleSearch($event)"
    (sortedResults)="handleSearch($event)"
  />

  
    @for (client of this.searchedClients | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {
      <app-client-card 
      [Person]="client.oPerson"
      [IdClient]="client.idClient"
      (action)="handleAction($event)"
      (isView)="handleViewClient($event)"
      (isEdit)="handleEditClient($event)"
      (isDeleted)="handleDeleteClient($event)"
      />
    }
  
  
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="pageChange($event)"
  />
  @if(options){
  <button class="Boton1" (click)="addClientHandler()">Agregar cliente</button>
  }
</div>
