<section>
    <article>
        <app-employee [employee] = "currentEmployee.oEmployee"/>
        <button class="Boton1"(click)="goToSalaryForm()">Crear salario nuevo</button>
        <button class="Boton1"(click)="openPaymentForm()">Cargar pago nuevo</button>
        <div class="Details">
            <h3 class="Details-title">Pagos del empleado</h3>
            <!-- <app-payments-table [pagos]="payments" />-->
        </div>
        
    </article>
    <article>
        <app-salary-list 
            [salaries]="currentEmployee.salaries"
        />
    </article>
</section>