<main>
    <app-navbar></app-navbar>
<section>
    <article>
        <div class="Details">
            <h3 class="Details-title">Detalle del cliente</h3>
            <h4>Nombre completo: {{client()?.oPerson?.lastName}} {{client()?.oPerson?.name}}  </h4>
            <h4>Numero de contacto: {{client()?.oPerson?.phoneNumber}}</h4>
            <h4>Correo electronico: {{client()?.oPerson?.mail}}</h4>
            <h4>Direccion: {{client()?.oPerson?.direction}}</h4>
            <h4>DNI: {{client()?.oPerson?.dni}}</h4>
            <h4>CUIT: {{client()?.oPerson?.cuit}}</h4>
        </div>

        <div class="Payments">

        </div>
    </article>
    <div class="List">
        <h3 class="List-title">Lista de presupuestos</h3>
        <div class="CardContainer">
          
        </div>
      </div>
    
</section>
</main>