<div class="List">
    <h3 class="List-title">Listado de empleados</h3>
    
    @for (employee of employees | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {
        <app-employee-card 
        [Employee]="employee"
        (isView)="handleViewEmployee($event)"
        (isEdit)="handleEditEmployee($event)"
        (isDeleted)="handleDeleteEmployee($event)"
        />
    }@empty {
        <app-text-card [message]="'No hay empleados que mostrar.'"/>
    }
    
    
    <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        (pageChange)="pageChange($event)"
    />
</div>