<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Card">
    <div class="Card-Details">        
        <p>Día de cobro: {{Salary?.billDate}}</p>
        <p>Cantidad: {{Salary?.amount | currency}}</p>
    </div>
    <div class="Card-Options"> 
        <app-button-card [icon]="botones[1].icon" (click)="edit()"></app-button-card>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()"></app-button-card>
    </div>
</div>