<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Card">
    <div class="Card-Details">        
        <p>Descripcion: {{fixedCost?.description | titlecase }}</p>
        <p>Cantidad: {{fixedCost?.amount}}</p>
        <p>Dias de trabajo: {{fixedCost?.workingDays}}</p>
        <p>Horas de trabajo: {{fixedCost?.hoursWorked}}</p>
        <p>Fecha: {{fixedCost?.date | date}}</p>
    </div>
    <div class="Card-Options"> 
        <app-button-card [icon]="botones[1].icon" (click)="edit()" mat-raised-button matTooltip="Editar detalle del costo."></app-button-card>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()" mat-raised-button matTooltip="Borrar costo."></app-button-card>
    </div>
</div>
