
    <section class="Arriba">
        <article>
            <app-budget [budget]="currentBudget"/>
            <app-client [client]="budgetClient"/>
            <button class="Boton1" (click)="calculateDeadline()">Calcular fecha limite</button>
            <button class="Boton1" (click)="calculatePrice()">Calcular precio actualizado</button>
            <button class="Boton1" (click)="goToWorkArea()">Ir al area de trabajo</button>
        </article>
        <article>
            <app-work-list
                [currentBudget]="currentBudget"
                [works]="currentBudget.works"
                />
        </article>
        <article>
           <app-work-detail/>
           <button class="Boton1" (click)="calculatePrice()">Calcular precio actualizado</button>
        </article>
    </section>
