<div>
    <form [formGroup]="SubCategoryForm" (ngSubmit)="onSubmit()" >
      <fieldset>
        <legend class="List-title"> {{ isEdit ? 'Actualizar un Sub-Rubro' : 'Crear un Sub-Rubro' }}</legend>
        @if(SubCategoryForm.invalid && SubCategoryForm.dirty){
          <div class="invalid">
            @if (SubCategoryForm.get('name')?.invalid){
              <p>Debe escribir el nombre.</p>
            }
          </div>
        }
  
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" formControlName="name">
        <label for="category">Rubro:</label>
        <select name="category" id="category" formControlName="category">
          @for (item of categories; track $index) {
            <option value="{{item.idCategory}}">{{item.name}}</option>
          }
        </select>
      </fieldset>
      <fieldset class="Botones">
        <button type="reset" (click)="resetForm($event)">Limpiar</button>
  
        <button type="submit" [disabled]="!SubCategoryForm.valid" [class.disactive]="!SubCategoryForm.valid">
          @if (isEdit) {
            Actualizar
          }@else {
            Guardar
          }
        </button>
      </fieldset>
    </form>
  
  </div>
  
  
  