<div>
  <form [formGroup]="BudgetForm" (ngSubmit)="onSubmit()" >
    <fieldset>
      <legend class="List-title"> {{ isEdit ? 'Actualizar un presupuesto' : 'Crear un presupuesto' }}</legend>
      @if (!isEdit) {
        <label for="client">Cliente</label>
        <input type="text" (click)="openClientForm()" placeholder="Seleccionar cliente" readonly formControlName="client">
        <input type="hidden" [value]="this.currentClient.idClient" name="idClient" formControlName="idClient">
      }
      <label for="createdDate">Fecha elaboración:</label>
      <input type="date" name="createdDate" id="createdDate" formControlName="createdDate">
      <label for="deadLine">Fecha limite:</label>
      <input type="date" name="deadLine" id="deadLine" formControlName="deadLine">
      <label for="description">Descripción:</label>
      <textarea name="description" id="description" formControlName="description"></textarea>
      <label for="cost">Precio final:</label>
      <input type="number" name="cost" id="cost" placeholder="Valor total" formControlName="cost"> 
      <label for="cost">Estado:</label>
      <select formControlName="estado">
        @for (option of estados; track $index) {
          <option [value]="option">{{option | uppercase}}</option>
        }
      </select>
    </fieldset>
    <fieldset class="Botones">
      <button type="reset" (click)="resetForm($event)">Limpiar</button>
    
      <button type="submit" [disabled]="!BudgetForm.valid" [class.disactive]="!BudgetForm.valid">
        @if (isEdit) {
          Actualizar
        }@else {
          Guardar
        }
      </button>
    </fieldset>
  </form>
  
</div>


