<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Card">
    <div class="Card-Detailes">        
        <h4>{{Person?.name}}</h4>
        <h4>{{Person?.phoneNumber}}</h4>
    </div>
    <div class="Card-Options">
        <app-button-card [url]="botones[3].url" [icon]="botones[3].icon"></app-button-card>
        <app-button-card [url]="botones[4].url" [icon]="botones[4].icon"></app-button-card>
        <app-button-card [url]="botones[0].url" [icon]="botones[0].icon" (click)="select()"></app-button-card>
        <app-button-card [url]="botones[1].url" [icon]="botones[1].icon" (click)="edit()"></app-button-card>
        <app-button-card [url]="botones[1].url" [icon]="botones[2].icon" (click)="deleteC()"></app-button-card>
    </div>
</div>

