<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Card">
    <div class="Card-Detailes">        
        <h4>{{Person?.name}}</h4>
        <h4>{{Person?.phoneNumber}}</h4>
    </div>
    <div class="Card-Options">
        <div class="Button" >
          <span class="material-symbols-sharp">payments</span>
        </div>
        <div class="Button" routerLink = "/budget">
          <span class="material-symbols-sharp">edit_note</span>
        </div>
        
        <div class="Button">
          <span class="material-symbols-sharp">edit</span>
        </div>
        <div class="Button">
          <span class="material-symbols-sharp">delete</span>
        </div>
    </div>
</div>

