
<main>
    <app-navbar></app-navbar>
    <section>
            

        <div class="Menu">
            <h3>Menu</h3>
            <div class="botones">
                <a routerLink="/budget"><article>Presupuestar</article></a>
                <a routerLink="/work"><article>Ver trabajos</article></a>
                <a routerLink="/client"><article>Ver clientes</article></a>
                <a routerLink="/material"><article>Ver materiales</article></a>
                <a routerLink="/supplier"><article>Ver proveedores</article></a>
                <a routerLink="/employee"><article>Ver empleados</article></a>
                <a routerLink="/cost"><article>Ver costos</article></a>
                <a routerLink="/help"><article>Ayuda</article></a>
                <a routerLink="/about"><article>Acerca de</article></a>
            </div>
            
        </div>

        <div>
            
            <img src="../../../../public/menu.jpeg" alt="">
        </div>
        
    </section>
</main>

   

