section{
  align-items: center;
  height: 80vh;
}

.Menu{
  margin: 20px;
  background-color: var(--gris);
  border-radius: 5px;
  width: 20%;
  display: flex;
  flex-direction:column ;

}

.Menu h2{
  font-family: var(--titulo);
  text-align: center;
  font-size: 2em;
  margin: 1em;
  font-family: var(--titulo);
}

.Botones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button{
  color: var(--negro);
  word-spacing: 4px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--arce);
  margin: .4em;
  padding: .4em;
  width: 90%;
  font-family: var(--dato);
  font-weight: 600;
  font-size: medium;
  text-align: left;
}

button:hover{
  color: var(--nogal);
  text-decoration: underline var(--abedul);
  background-color: var(--blanquecino);
}
img{
  max-width: 50vw;
  max-height: 50vh;
}

@media only screen and (max-width: 900px) {

  .Menu {
      min-width: 50vh;
      max-width: 40vw;
  }
  button {
    width: 80%;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
