.Card{
    background-color: var(--arce);
    display: flex; 
    justify-content: space-between;
    align-items:center;
    padding:.3em;
    border-radius: 15px;
    margin: 10px 0;
    text-align: left;
    
  }
  .Card-Detailes{
    margin: 0 10px;
  }
  
  .Card-Options{
    display: flex;
  }
  
