
<div class="Card">
    <div class="Card-Details">
        <p>{{Client?.personId?.lastName| titlecase }} {{Client?.personId?.name | titlecase }}</p>
        <p>{{Client?.personId?.phoneNumber}}</p>
    </div>
    <div class="Card-Options">
        <app-button-card [icon]="botones[3].icon" (click)="newBudget()" mat-raised-button matTooltip="Agregar un presupuesto."></app-button-card>
        <app-button-card [icon]="botones[0].icon" (click)="view()" mat-raised-button matTooltip="Ver detalle del cliente."></app-button-card>
        <app-button-card [icon]="botones[1].icon" (click)="edit()" mat-raised-button matTooltip="Editar al cliente."></app-button-card>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()" mat-raised-button matTooltip="Eliminar al cliente."></app-button-card>
    </div>
</div>

