<div class="Componente">
  <div>
    <h3 class="Detail-title">Detalles de trabajo</h3>
    <div class="Interior">
      <p>Notas : {{ currentWork!.notes }}</p>
      <p>Horas estimadas: {{ currentWork!.estimatedHoursWorked }}</p>
      <p>Fecha limite: {{ currentWork!.deadLine | date : "dd/MM/yyyy" }}</p>
      <p>Costo: {{ currentWork!.costPrice | currency }}</p>
      <p>Estado : {{ currentWork!.workStatus }}</p>
    </div>
  </div>

  <div>
    <h3 class="Detail-title">Materiales</h3>

    <table class="ItemTable">
      <thead>
        <tr>
          <th>Index</th>
          <th>Material</th>
          <th>Cantidad</th>
          @if(!options){
            <th>Acciones</th>
          }
          
        </tr>
      </thead>
      <!-- <tbody>
        @for (item of currentWork!.materials; track $index) {
        <tr>
          <td>{{ item.idItem }}</td>
          <td>{{ item.material.materialName }}</td>
          <td>{{ item.quantity }}</td>
          @if(!options){
          <td><app-button-card icon="edit" (click)="updateItem(item)" /></td>
          <td><app-button-card icon="delete" (click)="deleteItem(item)" /></td>
          }
        </tr>
        }
      </tbody> -->
    </table>
  </div>

  @if (options) {
  <button class="Boton1" (click)="goToBudgetDetail()">Ir al presupuesto</button>
  }@else {
    @if(enabled){
      <button class="Boton1" (click)="openMaterialManager()">Agregar material</button>
    }
    
  }
</div>
