<div class="Componente">
  
  <div>
    <h3 class="Detail-title">Detalles de trabajo</h3>
    <div class="Interior">
      <p>Orden: {{ currentWork!.order }}</p>
      <p>Notas : {{ currentWork!.notes }}</p>
      <p>Horas estimadas: {{ currentWork!.estimatedHoursWorked }}</p>
      <p>Fecha limite: {{ currentWork!.deadline | date : "dd/MM/yyyy" }}</p>
      <p>Costo: {{ currentWork!.costPrice | currency }}</p>
      <p>Estado : {{ currentWork!.status }}</p>
    </div>
  </div>

  <div>
    <h3 class="Detail-title">Materiales:</h3>
    <div class="Materials">
      @for (item of currentWork!.materials; track $index) {
      <div class="Material">
        <p (click)="editItem(item)">
          {{ item.material.name }} 
        </p>
        <p>
            * {{ item.quantity }}
        </p>
        <app-button-card icon="edit" />
      </div>
      }
      @for (item of currentWork!.materials; track $index) {
        <div class="Material">
          <p (click)="editItem(item)">
            {{ item.material.name }} 
          </p>
          <p>
              * {{ item.quantity }}
          </p>
          <app-button-card icon="edit" />
        </div>
        }
        @for (item of currentWork!.materials; track $index) {
            <div class="Material">
              <p (click)="editItem(item)">
                {{ item.material.name }} 
              </p>
              <p>
                  * {{ item.quantity }}
              </p>
              <app-button-card icon="edit" />
            </div>
            }
            @for (item of currentWork!.materials; track $index) {
                <div class="Material">
                  <p (click)="editItem(item)">
                    {{ item.material.name }} 
                  </p>
                  <p>
                      * {{ item.quantity }}
                  </p>
                  <app-button-card icon="edit" />
                </div>
                }
    </div>
  </div>

  @if (options) {
  <button class="Boton1" (click)="goToBudgetDetail()">Ir al presupuesto</button>
  <button class="Boton1" (click)="goToWorkArea()">Ir al area de trabajo</button>
  }
</div>
