<div class="Componente">
    
    <h3 class="Detail-title">Detalles de trabajo</h3>
    <div class="Interior">
        <p>Orden: {{ currentWork!.order }}</p>
        <p>Notas : {{ currentWork!.notes }}</p>
        <p>Horas estimadas: {{ currentWork!.estimatedHoursWorked }}</p>
        <p>Fecha limite: {{ currentWork!.deadline | date : "dd/MM/yyyy" }}</p>
        <p>Costo: {{ currentWork!.costPrice | currency }}</p>
        <p>Estado : {{ currentWork!.status }}</p>
    </div>

    <h3 class="Detail-title">Materiales:</h3>
    <div class="Interior">
        @for (item of currentWork!.materials; track $index) {
        <p>{{ item.material.name }} * {{ item.quantity }}</p>
        }
    </div>
    
    <h3 class="Detail-title">Fotos:</h3>
    <div class="Interior">
        @if (currentWork != undefined) { @for (img of currentWork.images; track img;
        let idx = $index) {
        <img [src]="img" [alt]="img" />
        } }@else{
        <img src="" alt="placeholder" />
        }
    </div>


    @if (options) {
        <button class="Boton1" (click)="goToBudgetDetail()">Ir al presupuesto</button>
        <button class="Boton1" (click)="goToWorkArea()">Ir al area de trabajo</button>
    }



        
    
</div>