<form [formGroup]="itemForm" (ngSubmit)="sent()">
    @if(edit){
        <legend class="List-title">Editar material:</legend>
    }@else {
        <legend class="List-title">Agregar material:</legend>
    }
  @if(itemForm.invalid && itemForm.dirty){
    <div class="invalid">
      @if (itemForm.get('material')?.invalid){
        <p>Debe seleccionar un material.</p>
      }
      @if (itemForm.get('quantity')?.invalid){
        <p>Debe ingresar números positivos superiores a 0.</p>
      }
      @if (itemForm.get('price')?.invalid){
        <p>Debe ingresar números positivos superiores a 0.</p>
      }

    </div>
  }

    <fieldset>
        <label for="material">Material</label>
        <input type="text" name="material" id="material" (click)="openMaterialList()" placeholder="Seleccionar material"  formControlName="material" readonly>
        <input type="hidden" name="idMaterial">
        <label for="quantity">Cantidad:</label>
        <input type="number" name="quantity" id="quantity" formControlName="quantity">
        <label for="price">Precio:</label>
        <input type="number" name="price" id="price" formControlName="price">
    </fieldset>
  <fieldset class="Botones">
    <button  type="submit" [disabled]="!canSubmit" [class.disactive]="!canSubmit">
      @if (edit) {
        Actualizar
      }@else {
        Guardar
      }
    </button>
  </fieldset>

</form>
