<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <fieldset>
  
      @if (employeeForm.invalid && employeeForm.dirty) {
        <div class="invalid">
          
          @if (employeeForm.get('name')?.invalid && employeeForm.get('lastName')?.invalid) {
            <p>El nombre y apellido es obligatorio.</p>
          }
          
          @if (employeeForm.get('direction')?.invalid) {
            <p>La dirección de entrega es obligatoria.</p>
          }
  
          @if (employeeForm.get('phoneNumber')?.invalid) {
            <p>El número de telefono es obligatorio.</p>
          }
  
          @if(employeeForm.get('mail')?.invalid ){
            <p>Ingrese un correo eléctronico válido.</p>
          }
          
          @if(employeeForm.get('dni')?.invalid ){
            <p>El dni debe ser mínimo de 7 caracteres y máximo 10.</p>
            <p>Debe ir sin puntos.</p>
          }
  
          @if(employeeForm.get('cuit')?.invalid ){
            <p>El dni debe ser mínimo de 10 caracteres y máximo 13.</p>
            <p>Debe ir sin puntos ni guiones.</p>
          }
      
        </div>
      }     
      
      <legend class="List-title">Cargar empleado</legend>
      <label for="name">Nombre:</label>
      <input type="text" name="name" id="name" placeholder="Nombre..." formControlName="name">
      <label for="lastName">Apellido:</label>
      <input type="text" name="lastName" id="lastName" placeholder="Apellido..." formControlName="lastName">
      <label for="direction">Dirección:</label>
      <input type="text" name="direction" id="direction" placeholder="Direcion..." formControlName="direction">
      <label for="phoneNumber">Número celular:</label>
      <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Telefono..." formControlName="phoneNumber">
      <label for="mail">Correo eléctornico:</label>
      <input type="email" name="mail" id="mail" placeholder="Email..."  formControlName="mail">
      <label for="dni">DNI:</label>
      <input type="text" name="dni" id="dni" placeholder="DNI..." formControlName="dni">
      <label for="cuit">CUIT:</label>
      <input type="text" name="cuit" id="cuit" placeholder="CUIT..." formControlName="cuit">
      <label for="salary">Salario</label>
      <input type="text" name="salary" placeholder="Salario..." id="salary" formControlName="salary">
    </fieldset>
    <fieldset class="Botones">
      <button type="reset" (click)="resetForm($event)">Limpiar</button>
      
      <button type="submit" [disabled]="!canSubmit" [class.disactive]="!canSubmit">
        @if (isEdit) {
          Actualizar
        }@else {
          Guardar
        }
      </button>
    </fieldset>
  </form>