
<section>
    <article>
        <app-client
        [client] = "currentClient.oClient"
        />
        <button class="Boton1"(click)="goToBudgetForm()">Crear presupuesto nuevo</button>
        
        <div class="Details">
            <h3 class="Details-title">Pagos del cliente</h3>
            <app-payments-table [pagos]="payments" />
        </div>
        
    </article>
    <article>
        <app-budget-list 
        [budgets] = "currentClient.budgets"
        />
    </article>
    
    
</section>
