<div class="Card">
    <div class="Card-Detailes">
        <p>{{supplier!.personId.lastName | titlecase }} {{supplier!.personId.name | titlecase }}</p>
        <p>{{supplier!.personId.phoneNumber}}</p>
    </div>
    <div class="Card-Options">
        <app-button-card [icon]="botones[0].icon" (click)="view()" mat-raised-button matTooltip="Ver detalle del proveedor."></app-button-card>
        <app-button-card [icon]="botones[1].icon" (click)="edit()" mat-raised-button matTooltip="Editar al proveedor."></app-button-card>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()" mat-raised-button matTooltip="Borrar al proveedor."></app-button-card>
    </div>
</div>
