<main>
  <app-navbar></app-navbar>
  <section>
    
    <div class="List">
      <h3 class="List-title">Listado de clientes</h3>
      <div class="CardContainer">
        @for (client of clients(); track client) {
          <app-card 
          [Person]="client.oPerson" 
          [detailsUrl]="'/client/' + client.idClient"
          [paymentUrl]="'/payment/' + client.oPerson.idPerson"
          [extraUrl]="'/newbudget/' + client.idClient"
          ></app-card>
        }
        
      </div>
    </div>
  </section>
  
</main>
