<section>
    <article>
        <app-supplier [supplier] = "currentSupplier.oSupplier"/>   
        <button class="Boton1"(click)="openInvoiceForm()">Cargar fatura nueva</button>
        <button class="Boton1"(click)="openPaymentForm()">Cargar pago nuevo</button>    
        <div class="Details">
            <h3 class="Details-title">Pagos del proveedor</h3>
            <!--<app-payments-table [pagos]="payments" />-->
        </div>        
    </article>
    <article>
        <app-invoice-list
            [invoices]="currentSupplier.invoices"
        />
    </article>
</section>
