<div class="List">
    <h3 class="List-title">Listado de facturas</h3>

      @for (invoice of invoices ; track $index) {
        <app-invoice-card
        [Invoice]="invoice"
        (isView)="handleViewInvoice($event)"
        (isEdit)="handleEditInvoice($event)"
        (isDeleted)="handleDeleteInvoice($event)"
        />
      }@empty {
        <app-text-card [message]="'No hay facturas que mostrar'"/>
      }


    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
    />
</div>
