<div class="List">
    <h3 class="List-title">Listado de boletas</h3>
    
    <app-invoice-search
      (results)="handleSearch($event)"
      (sortedResults)="handleSearch($event)"
    />
  
    
      @for (invoice of invoices | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {
        <app-invoice-card
        [Invoice]="invoice"
        (isView)="handleViewInvoice($event)"
        (isEdit)="handleEditInvoice($event)"
        (isDeleted)="handleDeleteInvoice($event)"
        />
      }@empty {
        <app-text-card [message]="'No hay boletas que mostrar'"/>
      }
    
    
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
    />
</div>
  