<div class="List">
    <h3 class="List-title">Listado de boletas</h3>
    <app-invoice-search
      (results)="handleSearch($event)"
      (sortedResults)="handleSearch($event)"
    />
  
    
      @for (invoice of this.searchedInvoices | paginate: { itemsPerPage: pageSize, currentPage:page }; track $index) {
        <app-invoice-card
        [IdInvoice]="invoice.IdInvoice"
        (action)="handleAction($event)"
        (isView)="handleViewInvoice($event)"
        (isEdit)="handleEditInvoice($event)"
        (isDeleted)="handleDeleteInvoice($event)"
        />
      }
    
    
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="pageChange($event)"
    />
    @if(options){
    <button class="Boton1" (click)="addInvoiceHandler()">Agregar boleta</button>
    }
  </div>
  