form .invalid{
    color: var(--negro);
    background-color: rgba(255, 0, 0, 50%);
    border-radius: 5px;
    padding: 5px;
    margin: 4px ;
}
form .invalid p{
    text-align: left;
    text-indent: 4px;
    font-family: var(--otro);
}
form .invalid p::before{
    content: "#";

}

.disactive{
    background-color: var(--blanquecino);
    color:var(--negro);
}