<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Card">
    <div class="Card-Detailes">        
        <p>Apellido: {{Employee!.oPerson.lastName | titlecase }}</p>
        <p>Nombre: {{Employee!.oPerson.name | titlecase }}</p>
        <p>Telefono: {{Employee!.oPerson.phoneNumber}}</p>
    </div>
    <div class="Card-Options"> 
        <app-button-card [icon]="botones[0].icon" (click)="view()" mat-raised-button matTooltip="Ver detalle del empleado."></app-button-card>
        <app-button-card [icon]="botones[1].icon" (click)="edit()" mat-raised-button matTooltip="Editar el empleado."></app-button-card>
        <app-button-card [icon]="botones[2].icon" (click)="deleteC()" mat-raised-button matTooltip="Borrar el empleado."></app-button-card>
    </div>
</div>