<div class="List">
  @if(options){
    <h3 class="List-title">Listado de presupuestos</h3>
  }@else {
    <h3 class="List-title">Listado total de presupuestos</h3>
  }
   
   
    @for (budget of budgets | paginate: { itemsPerPage: itemsPerPage, currentPage: page } ; track budget.budgetId; let idx = $index ) {
 
      <app-budget-card
      [Budget]="budget"
        (isSelect)="handleView($event)"
        (isEdit)="handleEdit($event)"
        (isDeleted)="handleDelete($event)"
      />
    }@empty {
      <app-text-card [message]="'No hay presupuestos que mostrar.'"/>
    }
    
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="pageChange($event)"
    ></pagination-controls>
  </div>
