<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="Searcher">
    <form action="">
        <input type="text">
        <select name="" id="">
            <option value="">Valor 1</option>
            <option value="">Valor 1</option>
            <option value="">Valor 1</option>
            <option value="">Valor 1</option>
            <option value="">Valor 1</option>
        </select>
        <button type="submit" class="Searcher-button">
          <input type="submit" style="display: none;">
          <span class="material-symbols-sharp">search</span>
        </button>
    </form>
</div>