<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
  @if (invoiceForm.invalid && invoiceForm.dirty) {
  <div class="invalid">
    @if (invoiceForm.get('fecha')?.invalid) {
    <p>la fecha es obligatoria.</p>
    }
  </div>
  }
  <fieldset>
    @if (isEdit) {  <legend class="List-title">Actualizar factura</legend> }@else {  <legend class="List-title">Cargar factura</legend> }

    <label for="fecha">fecha:</label>
    <input
      type="date"
      name="fecha"
      id="fecha"
      placeholder="fecha..."
      formControlName="date"
    />
  </fieldset>
  <fieldset class="Botones">
    <button type="reset" (click)="resetForm($event)">Limpiar</button>

    <button
      type="submit"
      [disabled]="!canSubmit"
      [class.disactive]="!canSubmit"
    >
      @if (isEdit) { Actualizar }@else { Guardar }
    </button>
  </fieldset>
</form>
