<form [formGroup]="InvoiceForm" (ngSubmit)="onSubmit()">
    <fieldset>
  
      @if (InvoiceForm.invalid && InvoiceForm.dirty) {
        <div class="invalid">
          
          @if (InvoiceForm.get('fecha')?.invalid) {
            <p>la fecha es obligatoria.</p>
          }
          
          @if (InvoiceForm.get('pago')?.invalid) {
            <p>el pago es obligatorio.</p>
          }
  
          @if (InvoiceForm.get('pagado')?.invalid) {
            <p>la confirmacion de pago es obligatoria.</p>
          }
      
        </div>
      }     
      
      <legend class="List-title">Cargar boleta</legend>
      <label for="fecha">fecha:</label>
      <input type="text" name="fecha" id="fecha" placeholder="fecha..." formControlName="fecha">
      <label for="pago">pago:</label>
      <input type="text" name="pago" id="pago" placeholder="pago..." formControlName="pago">
      <label for="estaPagado">pagado:</label>
      <input type="text" name="estaPagado" id="estaPagado" placeholder="estaPagado..." formControlName="estaPagado">
    </fieldset>
    <fieldset class="Botones">
      <button type="reset" (click)="resetForm($event)">Limpiar</button>
      
      <button type="submit" [disabled]="!canSubmit" [class.disactive]="!canSubmit">
        @if (isEdit) {
          Actualizar
        }@else {
          Guardar
        }
      </button>
    </fieldset>
</form>