<div class="List">
  
    <h3 class="List-title">Listado de trabajos</h3>
    
        @for (work of worksToDisplay | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track work.idWork; let idx = $index) {
            <app-work-card
            [Work]="work" 
            [idWork]="work.idWork"
            (isClick)="seleccionar($event)"
            (isEdit)="editar($event)" 
            (isDeleted)="eliminar($event)" 
            />
        }
        <pagination-controls 
        previousLabel="Anterior"
        nextLabel="Siguiente"
        (pageChange)="pageChange($event)"
        />

        @if(options){
          <button class="Boton1" (click)="addWorkHandler()">Agregar trabajo</button>
          <button class="Boton1" (click)="onSaveWorksHandler()">Guardar</button>
        }


    </div>