<div class="List">
  <h3 class="List-title">Listado de proveedores</h3>
    <div class="CardContainer">
      @for (supplier of suppliers | paginate: { itemsPerPage: pageSize, currentPage: page } ; track supplier) {
        <app-supplier-card
        [supplier]="supplier"
        (isView)="handleViewSupplier($event)"
        (isEdit)="handleEditSupplier($event)"
        (isDeleted)="handleDeleteSupplier($event)"
        />
      }@empty {
        <app-text-card [message]="'Haga click en recargar para mostrar los proveedores.'"/>
      }
    </div>
    <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="pageChange($event)"
      />
  <button class="Boton1" (click)="getData()">Recargar</button>
</div>
